body {
    font-size:0.12rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #000;
}
#slide-box {
    margin: 100px auto;
    width: 980px;
    height: 420px;
    position: relative;
    overflow: hidden;
}
#slide-box ul li {
    float: left;
}
#slide-box ol {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 20px;
    text-align: center;
}
#slide-box ol li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    line-height: 30px;
}
#slide-box ol li.active {
    background: #fff;
    color: #000;
}
.btn{
    background: rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-size: 50px;
    display: none;
}
.leftBtn{
    left: 0;
}
.rightBtn{
    right: 0;
}